<!DOCTYPE html>
<html>
<title>My Samples - on Bluemix</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/chow.css') }}">
<style> .ifrmbody {background-color:white} </style>
<body class="bgimg">

<div><img src="/static/images/footer.png" width="100%" border="1" /></td></div>

<br/>
<br/>


<div class="ifrmbody"><h1>Hello World!</h1>
</div>


<br/>
<br/>
<br/>
<div><img src="/static/images/footer.png" width="100%" border="1"/></td></div>


</body>
</html>
