.w3-accordion {width:100%;cursor:pointer}
.w3-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.w3-accordion-content a{padding:6px 16px;display:block}.w3-accordion-content a:hover{background-color:#ccc}
.w3-btn,.w3-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.w3-left-align{text-align:left!important;font-size:20px}
.w3-right-align{text-align:right!important}
.w3-hover-light-grey:{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.w3-light-grey,.w3-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-show{display:block!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#669966!important}


.w3-btn,.w3-btn-block{border:groove;display:inline-block;outline:0;padding:6px 26px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#3366CC;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn-block{width:80%}
.bgimg {background-image: url('/static/images/quantumBg.jpg');}
.headers {font-weight:400;margin:10px 0;text-decoration-color: white;color: white;font-family: verdana}
.pclass {padding:6px 36px; margin:10px 0;text-decoration-color: white;color: black;font-family: verdana;border: groove;background-color: white;width: 70%}

.chowbtn{border:groove;color: blue;background-color:white;display:inline-block;outline:0;padding:6px 26px;vertical-align:middle;overflow:hidden;text-decoration:none!important;text-align:center;cursor:pointer;white-space:nowrap}
.sribtn{border:groove;color: red;background-color:black;display:inline-block;outline:0;padding:6px 26px;vertical-align:middle;overflow:hidden;text-decoration:none!important;text-align:center;cursor:pointer;white-space:nowrap}